meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Page description")

// Favicon
//- +favicon("#a60002", "#a60002")

// Social
//- include meta-social

link(rel="stylesheet" media="all" href="css/app.css")
link(rel="stylesheet" media="all" href="css/custom.css")

script(type="text/javascript" src="js/app.js")