//- Description no longer than 155 characters
//- //Twitter Card data
//- meta(name="twitter:card" content="summary")
//- meta(name="twitter:site" content="@publisher_handle")
//- meta(name="twitter:title" content="Page Title")
//- meta(name="twitter:description" content="Page description less than 200 characters")
//- meta(name="twitter:creator" content="@author_handle")
//- //- Twitter Summary card images must be at least 120x120px
//- meta(name="twitter:image" content="http://www.example.com/image.jpg")

//- //Open Graph data
//- meta(property="og:title" content="Site Name")
//- meta(property="og:type" content="website")
//- meta(property="og:url" content="")
//- meta(property="og:image" content="/img/social.jpg")
//- meta(property="og:description" content="Description")
//- meta(property="og:site_name" content="Site Name, i.e. Moz")
//- meta(property="fb:admins" content="Facebook numeric ID")
